__pycache__
.aider*
.changelog.json
.devcontainer
.editorconfig
.env
.git
.github
.gitignore
.hadolint
.mypy_cache
.py*
.tox
.vscode
*.ignore*
bandit.out
coverage.xml
data
dist
flake8.out
GitVersion.yml
mypy.out
pylint.out
sonar-project.properties
tox.ini