__pycache__
.aider*
.changelog.json
.devcontainer
.editorconfig
.env
.git
.github
.gitignore
.hadolint
.mypy_cache
.py*
.vscode
*.ignore*
coverage.xml
data
dist
GitVersion.yml
mypy.out
ruff.json
ruff.out
sonar-project.properties
